<!DOCTYPE html>
<html>
  <head>
	<title>Presentation {% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="remarkpresentation" content="">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<META HTTP-EQUIV="EXPIRES" CONTENT=0>
	<link rel="shortcut icon" href="/iconified/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/iconified/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/iconified/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/iconified/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/iconified/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/iconified/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/iconified/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/iconified/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/iconified/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/iconified/apple-touch-icon-180x180.png" />
    <link rel="stylesheet" href="/static/css/pyscript.css" />
    <link
        rel="stylesheet"
        href="static/css/animate.min.css"
      />
    <style>

{% block headstyle %}
{% endblock %}

    </style>  

    <py-env>
    {% block pyenv %}
    {% endblock %}
    </py-env>
	</head>
    <body>

 {% block content %}
 {% endblock %}

 {% block bodyscript %}
 {% endblock %}
    <script>
	  $( document ).ready(function() {
		console.log("DOM-READY");
		{% block docready %}  
		{% endblock %}
	  })

    </script>
  </body>
</html>
