{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block headstyle %}



page[size="A4"] {  
width: 21cm;
height: 29.7cm; 
margin: 1cm 1cm 1cm 1cm;
}

@media print {

    body, page[size="A4"] {
 /*       -webkit-transform: rotate(90deg);/* Chrome, Safari, Opera 
        transform: rotate(90deg);*/
        margin: auto; 
        /* change the margins as you want them to be. */
    }
}


.hover:hover .preview{
  display:block;
 position:absolute;top:0;left:0;
}

iframe {
    width: 90%; height:75%;
    opacity: 1;
    background-color:white;

}

img {
  max-width:  8000px;

}


[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;  
    font-weight: bolder;
    color:white;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background:navy;
    margin-top: -50px;
    margin-left: 20px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

@font-face{
  font-family: 'Bold';
  src: url('/static/fonts/Roboto-Bold.ttf');
}

@font-face{
  font-family: 'Italic';
  src: url('/static/fonts/Roboto-Italic.ttf');
}

@font-face{
  font-family: 'Regular';
  src: url('/static/fonts/Roboto-Regular.ttf');
}

body { font-family: 'Regular'; }

h1, h2 {
  font-family: 'Bold';
  font-weight: normal;
}

h4{
  font-family: 'Italic';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Regular'; }

.red {color: red;}

.footnote { 
	font-family: 'Roboto-Regular';
	position: absolute;
	left: 5%;
	bottom: 5%;
}

.input_line {
    color: darkblue;
    padding: 2%;
    font-style: italic !important;

}

.eq {
    padding: 1%;
    font-style: bold !important;

}

.mbox {

    padding: 3%;
    color : darkred;


}
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyscript %}
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/showdown.js"></script>
<script src="/static/js/highlight.min.js"></script>
<script  id="MathJax" async src="/static/MathJax/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured"></script>
{% endblock %}

{% block docready %}


$.ajax({
url:'{{source}}',
        success: function (data){

    var converter = new showdown.Converter();     
    var html = converter.makeHtml(data);
    html = html.replace(/\\begin\{verbatim\}/g,"<div class='eq'>")
    html = html.replace(/\\end\{verbatim\}/g,"</div>")
    html = html.replace(/\$\$\\mbox\{(.*?)\}\$\$/g,"<div class='mbox'>$1</div>")
    html = html.replace(/\(%i(\d+)\)/g,"<div class='input_line'> $1)</div>")
    $("#pagecontent").html(html)
    //////////////////////////////////////
    //Configure MathJax
    <!--MathJax-->

    // Setup MathJax
    MathJax.Hub.Config({
            jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
  extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "a11y/accessibility-menu.js"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        },
         TeX: {
    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
            Macros: {

              red:["{\\bf  #1}",1],
              mb:"{\\ }",
              black:"{\\ }",
        mbox:["{\\  #1}",1]
            }
          }
    });
   MathJax.Hub.Queue(function() {
        $(MathJax.Hub.getAllJax()).map(function(index, elem) {
            return(elem.SourceElement());
        }).parent().addClass('has-jax');
    });

    MathJax.Hub.Configured();

    //END OF AJAX SUCCESS
        }
    //END OF AJAX
    });


{% endblock %}
