{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block headstyle %}
/* CSS style  */

{% endblock %}

{% block content %}
{% endblock %}

{% block pyenv %}
- matplotlib
- numpy
{% endblock %}
/* - ./static/wheels/schemdraw-0.14-py3-none-any.whl*/
{% block bodyscript %}
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/remark.js"></script>
<script src="/static/js/highlight.min.js"></script>
<script  id="MathJax" async src="/static/MathJax/MathJax.js?config=TeX-MML-AM_CHTML-full&delayStartupUntil=configured"></script>
<script defer src="/static/js/pyscript.min.js"></script>
{% endblock %}

{% block docready %}
/* Ready handler */
 
$.ajax({
url:'{{source}}',
    success: function (data){


    var slideshow = remark.create({
            source : data,
            // Set the slideshow display ratio
            // Default: '4:3'
            // Alternatives: '16:9', ...
            ratio: '16:9',

            // Navigation options
            navigation: {
                        // Enable or disable navigating using scroll
                        // Default: true
                        // Alternatives: false
                        scroll: true,

                        // Enable or disable navigation using touch
                        // Default: true
                        // Alternatives: false
                        touch: true,

                        // Enable or disable navigation using click
                        // Default: false
                        // Alternatives: true
                        click: false,

            },

            // Customize slide number label, either using a format string..
            slideNumberFormat: 'Slide %current% of %total%',

            includePresenterNotes:true,
            // Enable or disable counting of incremental slides in the slide counting
            countIncrementalSlides:true,
        //END OF REMARK CREATE
        });

/*

    function pyscript(s) {
        
$("#pythonrepl").onkeydown = function (e) {
return false;
}

        const elements = document.querySelectorAll(".remark-slide")[s.getSlideIndex()]
            ?.querySelectorAll('.py-script');
            if (elements) {
               $(".py-script").each(async function(){
                    
                    //console.log($(this).textContent)
                    //var content = $(this).html().toString().slice(3,-5)
                    //$(this).text('<py-script>'+content+'</py-script>')
                    //$(this).wrapInner('<py-script></py-script>');
                                          }); 
              }
               //return this.nodeType === 3
        }
    

   pyscript(slideshow.getSlides()[slideshow.getCurrentSlideIndex()]);

   slideshow.on("afterShowSlide", pyscript);
*/

   // Setup MathJax
   MathJax.Hub.Config({
   jax: ['input/AsciiMath'],
   extensions: ['asciimath2jax.js'],
   asciimath2jax: {
   delimiters: [['!!!','!!!'], ['`','`']]
   }
   });
   MathJax.Hub.Queue(function() {
   $(MathJax.Hub.getAllJax()).map(function(index, elem) {
   return(elem.SourceElement());
   }).parent().addClass('has-jax');
   });

   MathJax.Hub.Configured();

    //////////////////////////////////////
    //END OF AJAX SUCCESS
        }
    //END OF AJAX
    });

{% endblock %}
