{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block headstyle %}



page[size="A4"] {  
width: 21cm;
height: 29.7cm; 
margin: 1cm 1cm 1cm 1cm;
}

@media print {

    body, page[size="A4"] {
 /*       -webkit-transform: rotate(90deg);/* Chrome, Safari, Opera 
        transform: rotate(90deg);*/
        margin: auto; 
        /* change the margins as you want them to be. */
    }
}



@font-face{
  font-family: 'Bold';
  src: url('/static/fonts/Roboto-Bold.ttf');
}

@font-face{
  font-family: 'Italic';
  src: url('/static/fonts/Roboto-Italic.ttf');
}

@font-face{
  font-family: 'Regular';
  src: url('/static/fonts/Roboto-Regular.ttf');
}

body { font-family: 'Regular'; }

h1, h2 {
  font-family: 'Bold';
  font-weight: normal;
}

h3{
  font-family: 'Italic';
  font-weight: normal;
}

{% endblock %}

{% block content %}
{% endblock %}

{% block bodyscript %}
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/showdown.js"></script>
<script src="/static/js/highlight.min.js"></script>
<script  id="MathJax"  src="/static/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block docready %}


$.ajax({
url:'{{source}}',
    success: function (data){

    var converter = new showdown.Converter();     
    var html = converter.makeHtml(data);
    $("#pagecontent").html(html)
    //////////////////////////////////////
    //Configure MathJax
    <!--MathJax-->


        MathJax.Hub.Config({
            config: ['MMLorHTML.js'],
            TeX: { extensions: ['AMSmath.js','AMSsymbols.js','noErrors.js','noUndefined.js'], equationNumbers: { autoNumber: 'AMS' } },
            jax: ['input/TeX','input/MathML','output/HTML-CSS'],
            extensions: ['tex2jax.js','mml2jax.js','MathMenu.js','MathZoom.js'],
            displayAlign: 'center',
            displayIndent: '0em',
            showMathMenu: true,
            tex2jax: { 
                inlineMath: [ ['$','$'] ], 
                displayMath: [ ['$$','$$'] ],
                processEscapes: true,
                preview: 'TeX',
            }, 
            'HTML-CSS': { 
            linebreaks: { automatic: true, width: '95% container' },
            styles: { '.MathJax_Display, .MathJax .mo, .MathJax .mi, .MathJax .mn': {color: 'black ! important'} }   } 
           });

      MathJax.Hub.Queue(["Rerender", MathJax.Hub], function () 
          {window.status="finished"}
          )
    //END OF AJAX SUCCESS
        }
    //END OF AJAX
    });


{% endblock %}
