{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block headstyle %}
/* Style for presentation  symbolic link*/     

     @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);



      body {font-family: 'Droid Serif' }
*{box-sizing:border-box}body{font-family:Arial,Helvetica,sans-serif}h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;font-family:Arial,Helvetica,sans-serif}h1{color:#3F51B5}h2{color:#009688}h3{color:#757575}li{margin-bottom:.25em}pre,code{text-align:left;font-family:"Lucida Console",Monaco,monospace;color:#009688;background:#F8F8F8}a,a:visited,a:hover,a:active{color:#212121}img{vertical-align:inherit}blockquote{border-left:8px solid;padding-left:.5em;color:#757575;text-align:left;margin:1em 0}blockquote>p{margin:0}.remark-code{font-size:.9em}.remark-container{background:#333}.remark-slide-scaler{box-shadow:none}.remark-notes{font-size:1.5em}.remark-slide-content{font-size:28px;padding:1em 2em;color:#212121;background-size:cover}.remark-slide-number{color:#fff;right:1em;opacity:.6;font-size:0.8em;z-index:2}.no-counter .remark-slide-number{display:none}.impact{background-color:#3F51B5;vertical-align:middle;text-align:center}.impact,.impact h1,.impact h2{color:#fff}.impact h1{font-size:128px}.full,.full h1,.full h2{color:#fff}.fulliframe{height:calc(66.66667% - 1.2em);width:66.66667%;transform:scale(1.5);transform-origin:0 0;border:0}.bottom-bar{background-color:#3F51B5;color:#fff;position:absolute;bottom:0;left:0;right:0;font-size:20px;padding:.8em;text-align:left;z-index:1}.bottom-bar p{margin:0}.impact .bottom-bar,.full .bottom-bar{display:none}.side-layer{position:absolute;left:0;width:100%;padding:0 2em}.middle,.middle img,.middle span{vertical-align:middle}.top{vertical-align:top}.bottom{vertical-align:bottom}.inline-block p,.inline-block ul,.inline-block ol,.inline-block blockquote{display:inline-block;text-align:left}.no-margin,.no-margin>p,.no-margin>pre,.no-margin>ul,.no-margin>ol{margin:0}.no-padding{padding:0}.space-left{padding-left:1em}.space-right{padding-right:1em}.responsive>img{width:100%;height:auto}.contain{background-size:contain}.overlay{box-shadow:inset 0 0 0 9999px rgba(0,0,0,0.5)}.left{text-align:left}.right{text-align:right}.center{text-align:center}.justify{text-align:justify}.primary{color:#3F51B5}.alt{color:#009688}.em{color:#757575}.thin{font-weight:200}.huge{font-size:2em}.big{font-size:1.5em}.small{font-size:.8em}.dark-bg{background-color:#333}.alt-bg{background-color:#009688}.row{width:100%}.row::after{content:'';display:table;clear:both}.row.table{display:table}.row.table [class^="col-"]{float:none;display:table-cell;vertical-align:inherit}[class^="col-"]{float:left}[class^="col-"].inline-block{float:none;display:inline-block}.col-1{width:8.33333%}.col-2{width:16.66667%}.col-3{width:25%}.col-4{width:33.33333%}.col-5{width:41.66667%}.col-6{width:50%}.col-7{width:58.33333%}.col-8{width:66.66667%}.col-9{width:75%}.col-10{width:83.33333%}.col-11{width:91.66667%}.col-12{width:100%}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.animation-fade{animation-duration:300ms;animation-fill-mode:both;animation-timing-function:ease-out}.remark-visible .animation-fade{animation-name:fadeIn}@page{size:1210px 681px;margin:0}@media print{.remark-slide-scaler{width:100% !important;height:100% !important;transform:scale(1) !important;top:0 !important;left:0 !important}}
    

      .remark-slide-container {
        background-color: white;
      }

@page {
  size: 1024px 768px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
.hover:hover .preview{
  display:block;
 position:absolute;top:0;left:0;
}

iframe {
    width: 90%; height:75%;
    opacity: 1;
    background-color:white;

}

img {
  max-width:  8000px;

}


[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;  
    font-weight: bolder;
    color:white;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background:navy;
    margin-top: -50px;
    margin-left: 20px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyscript %}

<link rel="stylesheet" href="/static/highlightjs/styles/gruvbox-dark.css">

<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/remark.js"></script>
<script src="/static/js/highlight.min.js"></script>

<script  id="MathJax" async src="/static/MathJax/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured"></script>
 {% endblock %}

{% block docready %}
$.ajax({
url:'{{source}}',
        success: function (data){


    var slideshow = remark.create({
            source : data,
            // Set the slideshow display ratio
            // Default: '4:3'
            // Alternatives: '16:9', ...
            ratio: '16:9',

            // Navigation options
            navigation: {
                        // Enable or disable navigating using scroll
                        // Default: true
                        // Alternatives: false
                        scroll: true,

                        // Enable or disable navigation using touch
                        // Default: true
                        // Alternatives: false
                        touch: true,

                        // Enable or disable navigation using click
                        // Default: false
                        // Alternatives: true
                        click: false,

            },

            // Customize slide number label, either using a format string..
            slideNumberFormat: 'Slide %current% of %total%',

            includePresenterNotes:true,
            // Enable or disable counting of incremental slides in the slide counting
            countIncrementalSlides:true,
        //END OF REMARK CREATE
        });

    //////////////////////////////////////
    //Configure MathJax
    <!--MathJax-->

    // Setup MathJax
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
    });
   MathJax.Hub.Queue(function() {
        $(MathJax.Hub.getAllJax()).map(function(index, elem) {
            return(elem.SourceElement());
        }).parent().addClass('has-jax');
    });

    MathJax.Hub.Configured();

    //END OF AJAX SUCCESS
        }
    //END OF AJAX
    });


{% endblock %}
