{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block headstyle %}
@font-face{
  font-family: 'Bold';
  src: url('/static/fonts/Bitter-Bold.ttf');
}

@font-face{
  font-family: 'Italic';
  src: url('/static/fonts/Bitter-Italic.ttf');
}

@font-face{
  font-family: 'Regular';
  src: url('/static/fonts/Bitter-Regular.ttf');
}

body { font-family: 'Regular'; }
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: aliceblue;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}
h1, h2 {
  font-family: 'Bold';
  font-weight: normal;
}

h4{
  font-family: 'Italic';
  font-weight: normal;
}

p {
font-family:'Regular';
color: white;
}
a {
    color:gold;
}

li {
    color:white;
}


.remark-code, .remark-inline-code { font-family: 'Bitter-Regular'; }

.red {color: red;}

.footnote { 
	font-family: 'Bitter-Regular';
	position: absolute;
	left: 5%;
	bottom: 5%;
}
.remark-slide-content {
    background-color: #444;
    background-position: center;
    background-repeat: no-repeat;
    display: table-cell;
    font-size: 20px;
    padding: 1em 4em 1em 4em;
}

.hljs-keyword 
{
color:#bdb822 !important;
}

.hljs-title {
color:#48e057 !important;
}

.hljs-params{
color:#1f94a3 !important;
}
.hljs-comment{
color:yellowgreen !important;
}
.hljs-string{
color:orange !important;
}
.hljs-number{
color:lightblue !important;
}
.hljs-default .hljs {
color:#ebf5ee !important;
display: block;
overflow-x: auto;
padding: .5em;
background: #444;
}
.remark-slide-number {
    bottom: 12px;
    opacity: .5;
    position: absolute;
    right: 20px;
    color: wheat;
}
.remark-code.hljs[```
 <content>
```]
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyscript %}
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/remark.js"></script>
<script  id="MathJax" async src="/static/MathJax/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured"></script>
{% endblock %}

{% block docready %}

$.ajax({
url:'{{source}}',
success: function (data){


    var slideshow = remark.create({
            source : data,
            // Set the slideshow display ratio
            // Default: '4:3'
            // Alternatives: '16:9', ...
            ratio: '16:9',

            // Navigation options
            navigation: {
                        // Enable or disable navigating using scroll
                        // Default: true
                        // Alternatives: false
                        scroll: true,

                        // Enable or disable navigation using touch
                        // Default: true
                        // Alternatives: false
                        touch: true,

                        // Enable or disable navigation using click
                        // Default: false
                        // Alternatives: true
                        click: false,

                        //support code blocks
                        highlightLanguage: 'python',
                        highlightStyle: 'dark'
                        //highlightLines: true
            },

            // Customize slide number label, either using a format string..
            slideNumberFormat: 'Slide %current% of %total%',

            includePresenterNotes:true,
            // Enable or disable counting of incremental slides in the slide counting
            countIncrementalSlides:true,
        //END OF REMARK CREATE
        });

    //////////////////////////////////////
    //Configure MathJax
    <!--MathJax-->
    // Setup MathJax
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
    });
   MathJax.Hub.Queue(function() {
        $(MathJax.Hub.getAllJax()).map(function(index, elem) {
            return(elem.SourceElement());
        }).parent().addClass('has-jax');
    });

    MathJax.Hub.Configured();

    //END OF AJAX SUCCESS
        }
    //END OF AJAX
    });


{% endblock %}
