{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block headstyle %}
@font-face{
  font-family: 'Bold';
  src: url('/static/fonts/Roboto-Bold.ttf');
}

@font-face{
  font-family: 'Italic';
  src: url('/static/fonts/Roboto-Italic.ttf');
}

@font-face{
  font-family: 'Regular';
  src: url('/static/fonts/Roboto-Regular.ttf');
}

body { font-family: 'Regular'; }

h1, h2 {
  font-family: 'Bold';
  font-weight: normal;
}

h4{
  font-family: 'Italic';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Regular'; }

.red {color: red;}

.footnote { 
	font-family: 'Roboto-Regular';
	position: absolute;
	left: 5%;
	bottom: 5%;
}
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyscript %}
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/remark.js"></script>
<script src="/static/js/highlight.min.js"></script>
<script  id="MathJax" async src="/static/MathJax/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured"></script>
{% endblock %}

{% block docready %}


$.ajax({
url:'{{source}}',
    success: function (data){
    var lines = data.match(/^.*((\r\n|\n|\r)|$)/gm);
    var start = lines[0];
    //remove jupytext header
    if (start.includes("---"))
    {
    for (let i = 1; i < lines.length; i++) {
       if (lines[i].includes("---"))
            {
                var data_cleanup = lines.slice(i+1, lines.length).join("");
                break;
            }
       }
                            }
                            else
                            {
                            var data_cleanup=data;
                            }
    var slideshow = remark.create({
            source : data_cleanup,
            // Set the slideshow display ratio
            // Default: '4:3'
            // Alternatives: '16:9', ...
            ratio: '16:9',

            // Navigation options
            navigation: {
                        // Enable or disable navigating using scroll
                        // Default: true
                        // Alternatives: false
                        scroll: true,

                        // Enable or disable navigation using touch
                        // Default: true
                        // Alternatives: false
                        touch: true,

                        // Enable or disable navigation using click
                        // Default: false
                        // Alternatives: true
                        click: false,

                        //support code blocks
                        highlightLanguage: 'python',
                        highlightStyle: 'far',
                        //highlightLines: true
            },

            // Customize slide number label, either using a format string..
            slideNumberFormat: 'Slide %current% of %total%',

            includePresenterNotes:true,
            // Enable or disable counting of incremental slides in the slide counting
            countIncrementalSlides:true,
        //END OF REMARK CREATE
        });

    //////////////////////////////////////
    //Configure MathJax
    <!--MathJax-->

    // Setup MathJax
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
    });
   MathJax.Hub.Queue(function() {
        $(MathJax.Hub.getAllJax()).map(function(index, elem) {
            return(elem.SourceElement());
        }).parent().addClass('has-jax');
    });

    MathJax.Hub.Configured();

    //END OF AJAX SUCCESS
        }
    //END OF AJAX
    });


{% endblock %}
