{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block headstyle %}
/* CSS style  */

{% endblock %}

{% block content %}
{% endblock %}

{% block bodyscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.3.0/d3.min.js"></script>
<script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
<script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/remark.js"></script>
<script src="/static/js/highlight.min.js"></script>
{% endblock %}

{% block docready %}
/* Ready handler */
 
$.ajax({
url:'{{source}}',
    success: function (data){


    var slideshow = remark.create({
            source : data,
            // Set the slideshow display ratio
            // Default: '4:3'
            // Alternatives: '16:9', ...
            ratio: '16:9',

            // Navigation options
            navigation: {
                        // Enable or disable navigating using scroll
                        // Default: true
                        // Alternatives: false
                        scroll: true,

                        // Enable or disable navigation using touch
                        // Default: true
                        // Alternatives: false
                        touch: true,

                        // Enable or disable navigation using click
                        // Default: false
                        // Alternatives: true
                        click: false,

            },

            // Customize slide number label, either using a format string..
            slideNumberFormat: 'Slide %current% of %total%',

            includePresenterNotes:true,
            // Enable or disable counting of incremental slides in the slide counting
            countIncrementalSlides:true,
        //END OF REMARK CREATE
        });



    function D3graphviz(s) {

        const elements = document.querySelectorAll(".remark-slide")[s.getSlideIndex()]
            ?.querySelectorAll('.d3graphviz p:not([data-processed="true"])');
            if (elements) {
                for (let i = 0; i < elements.length; i++) {
                 elements[i].setAttribute("id","graphviz"+s.getSlideIndex()+i)
                 let id = d3.select("#graphviz"+s.getSlideIndex()+i).graphviz();
                 id.zoom(false)
                 id.renderDot(elements[i].textContent);
                 $('p#graphviz'+s.getSlideIndex()+i).contents().filter(function(){
                    return this.nodeType === 3;
                 }).remove();
                }
        }
    }

    // Render D3graphviz diagrams 
    D3graphviz(slideshow.getSlides()[slideshow.getCurrentSlideIndex()]);

   // Render diagrams in the next slide
   slideshow.on("afterShowSlide", D3graphviz);


    //////////////////////////////////////
    //END OF AJAX SUCCESS
        }
    //END OF AJAX
    });

{% endblock %}
