<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://sevepy.gitlab.io/htmlpresentations/theme/static/css/m-grid.css" />
    <link rel="stylesheet" href="https://sevepy.gitlab.io/htmlpresentations/theme/static/css/m-components.css" />
    <link rel="stylesheet" href="https://sevepy.gitlab.io/htmlpresentations/theme/static/css/m-layout.css" />
    <link rel="stylesheet" href="https://sevepy.gitlab.io/htmlpresentations/theme/static/css/m-light.css" />
 <meta name="theme-color" content="#cb4b16" />   
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="remarkpresentation" content="">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT=0>
 <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <link href="https://sevepy.gitlab.io/htmlpresentations/theme/static/css/presentation.css" rel="stylesheet"/>
<!-- m.css framework -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700,700i%7CSource+Code+Pro:400,400i,600" />

 <style>

body {    
    font-family: 'Libre Baskerville';
    font-weight: normal;
    font-style: normal;
 }
p,h1, h2, h3 {
    font-family: 'Libre Baskerville';
    font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'CarlitoItalic'; }
</style>
</head>

<body>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous">
</script>
<script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>


<script>
$( document ).ready(function() {

window.MathJax = {
loader: {load: ['[tex]/color']},  
chtml: {
    scale: 1,                      // global scaling factor for all expressions
    minScale: .5,                  // smallest scaling factor to use
    matchFontHeight: true,         // true to match ex-height of surrounding font
    mtextInheritFont: false,       // true to make mtext elements use surrounding font
    merrorInheritFont: true,       // true to make merror text use surrounding font
    mathmlSpacing: false,          // true for MathML spacing rules, false for TeX rules
    skipAttributes: {},            // RFDa and other attributes NOT to copy to the output
    exFactor: .5,                  // default size of ex in em units
    displayAlign: 'center',        // default for indentalign when set to 'auto'
    displayIndent: '0',            // default for indentshift when set to 'auto'
  
    adaptiveCSS: true              // true means only produce CSS that is used in the processed equations
  },
tex: {
    displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
    
  },

  svg: {
    fontCache: 'global'
  },
startup: {
  ready: () => {
    MathJax.startup.defaultReady();
    MathJax.startup.promise.then(() => {
      console.log('MathJax initial typesetting complete');
    });
  }
}
};
var slideshow = remark.create({
            sourceUrl: '{{sourceUrl}}',
            // Set the slideshow display ratio
            // Default: '4:3'
            // Alternatives: '16:9', ...
            ratio: '16:9',

            // Navigation options
            navigation: {
                        // Enable or disable navigating using scroll
                        // Default: true
                        // Alternatives: false
                        scroll: true,

                        // Enable or disable navigation using touch
                        // Default: true
                        // Alternatives: false
                        touch: true,

                        // Enable or disable navigation using click
                        // Default: false
                        // Alternatives: true
                        click: false,

                        //support code blocks
                        highlightLanguage: 'python',
                        highlightStyle: 'default',
                        //highlightLines: true
            },

            // Customize slide number label, either using a format string..
            //slideNumberFormat: 'Slide %current% of %total%',
            // .. or by using a format function
            slideNumberFormat: function (current, total) {

return ` 
Page ${current}/${total}
   `;    
            } ,
            
            includePresenterNotes:true,
            // Enable or disable counting of incremental slides in the slide counting
            //countIncrementalSlides:true,
        //END OF REMARK CREATE
        });

 
})
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</body>
</html>

